.list-item {
	list-style: none;
	padding: 10px 0;
	padding: 10px 20px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
}

.list-item:hover {
	background-color: var(--primary-color);
	color: #fff;
}
.list-item.focus {
	background-color: var(--primary-color);
	color: #fff;
}